<app-header [title]="title" [subtitle]="subtitle"></app-header>

<p>Use the divider to group and divide content in close proximity.</p>

<div class='component-case'>
  <p>The default divider is 1px with the color car-neutral-100. Adjust the spacing to have more or less breath.</p>
  <car-divider></car-divider>

  <car-divider spacing="medium"></car-divider>

  <car-divider spacing="large"></car-divider>
</div>


<div class='component-case'>
  <p>If you need to match the divider with certain theme, pass in the color variable: primary, secondary, success or error.</p>
  <car-divider color="primary"></car-divider>
  <car-divider color="secondary" spacing="medium"></car-divider>
  <car-divider color="success" spacing="medium"></car-divider>
  <car-divider color="error" spacing="medium"></car-divider>
</div>

