
<div class="component-case">
  <div class="flex gap-4 mb-4">
    <car-badge size="small">basic</car-badge>
    <car-badge size="small" status="info">info</car-badge>
    <car-badge size="small" status="warning">warning</car-badge>
    <car-badge size="small" status="success">success</car-badge>
    <car-badge size="small" status="error">error</car-badge>
  </div>
  <div class="flex gap-4 mb-4">
    <car-badge>basic</car-badge>
    <car-badge status="info">info</car-badge>
    <car-badge status="warning">warning</car-badge>
    <car-badge status="success">success</car-badge>
    <car-badge status="error">error</car-badge>
  </div>
  <div class="flex gap-4 mb-4">
    <car-badge size="large">basic</car-badge>
    <car-badge size="large" status="info">info</car-badge>
    <car-badge size="large" status="warning">warning</car-badge>
    <car-badge size="large" status="success">success</car-badge>
    <car-badge size="large" status="error">error</car-badge>
  </div>
</div>


<div class='component-case'>
  <car-badge status="number">1</car-badge>
  <car-badge status="number">5</car-badge>
  <car-badge status="number">10</car-badge>
  <car-badge status="number">100</car-badge>
  <car-badge status="number">99+</car-badge>
</div>


