<div>
<div class="flex flex-wrap">
  <car-gauge [value]="0" label="Total sales" type="full" color="success" size="small"></car-gauge>
  <car-gauge [value]="10" label="Total sales" type="full" color="success" size="small"></car-gauge>
  <car-gauge [value]="40" label="Total sales" type="full" color="secondary"></car-gauge>
  <car-gauge [value]="90" label="Total sales" type="full" color="secondary"></car-gauge>
  <car-gauge [value]="100" label="Total sales" type="full" color="primary"></car-gauge>
  <car-gauge [value]="75" label="Total sales" type="full" color="success" size="large"></car-gauge>
</div>

<div class="flex flex-wrap">
  <car-gauge [value]="0" label="Total sales" type="semi" color="secondary" size="small"></car-gauge>
  <car-gauge [value]="1" label="Total sales" type="semi" color="secondary" size="small"></car-gauge>
  <car-gauge [value]="50" label="Total sales" type="semi" color="error"></car-gauge>
  <car-gauge [value]="20" label="Total sales" type="semi" color="primary"></car-gauge>
  <car-gauge [value]="40" label="Total sales" type="semi" color="secondary"></car-gauge>
  <car-gauge [value]="80" label="Total sales" type="semi" color="success"></car-gauge>
  <car-gauge [value]="100" label="Total sales" type="semi" color="error"></car-gauge>
  <car-gauge [value]="95" label="Total sales" type="semi" color="secondary" size="large"></car-gauge>
</div>
</div>

