<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non unde praesentium quisquam autem? Consequatur
  laudantium,
  maiores saepe labore aut expedita?
  <i-feather name="help-circle" car-tooltip="a tip for the email field" car-tooltip-position="left"
    class="text-car-neutral-700 !w-4 !h-4"></i-feather>
</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non unde praesentium quisquam autem? Consequatur laudantium,
  maiores saepe labore aut expedita?
  <i-feather name="help-circle" car-tooltip="tip test right" car-tooltip-position="right"
  class="text-car-neutral-700 !w-4 !h-4"></i-feather>
</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non unde praesentium quisquam autem? Consequatur
  laudantium,
  maiores saepe labore aut expedita?
  <i-feather name="help-circle" car-tooltip="tip test top" car-tooltip-position="top"
    class="text-car-neutral-700 !w-4 !h-4"></i-feather>
</p>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Non unde praesentium quisquam autem? Consequatur
  laudantium,
  maiores saepe labore aut expedita?
  <i-feather name="help-circle" car-tooltip="tip test bottom" car-tooltip-position="bottom"
    class="text-car-primary-500 !w-4 !h-4"></i-feather>
</p>

<p>Lorem ipsum dolor sit amet
  <span class="border-b-2 border-b-car-primary-500" car-tooltip="tip test on a text in the sentence"
  car-tooltip-position="top">consectetur</span> adipisicing elit.</p>

<car-avatar name="Jane Doe" car-tooltip="avatar tip" car-tooltip-position="right"></car-avatar>
