<car-progress color="primary" [value]=0 [showPercentage]="true"></car-progress>
<car-divider></car-divider>
<car-progress color="primary" [value]=1 [showPercentage]="true"></car-progress>
<car-divider></car-divider>
<car-progress color="primary" [value]=70 [showPercentage]="true"></car-progress>
<car-divider></car-divider>
<car-progress color="primary" [value]=100 [showPercentage]="true"></car-progress>
<car-divider></car-divider>
<car-progress color="success" [value]=40 size="small" [showPercentage]="true"></car-progress>
<car-divider></car-divider>
<car-progress color="primary" [value]=90 size="large" [showPercentage]="true"></car-progress>
<car-divider></car-divider>
<car-progress color="secondary" [value]=5 [showPercentage]="true"></car-progress>
<car-divider></car-divider>
<car-progress color="error" [value]=15.12546848 [showPercentage]="true"></car-progress>
